day19/Day19_Demos/Consumer3/Connected Services/Proxy/DBService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TestServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TestServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEmp">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Emp" nillable="true" type="tns:Emp" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmp" nillable="true" type="tns:ArrayOfEmp" />
  <xs:complexType name="Emp">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="No" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Emp" nillable="true" type="tns:Emp" />
</xs:schema>